@model Ressential.Models.WastageItem

@{
    ViewBag.Title = "EditWastageItem";
    Layout = "~/Views/Shared/_KitchenLayout.cshtml";
}


<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h2 class="text-secondary"><b>Update Wastage Item</b></h2>
                @Html.HiddenFor(model => model.WastageItemId)
                @Html.HiddenFor(model => model.ReferenceNo)
                @Html.HiddenFor(model => model.WastageItemDetails)
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mt-3">
                            @Html.TextBoxFor(model => model.WastageItemDate, DateTime.Today.ToString("yyyy-MM-dd"), new { @class = "form-control", @placeholder = "WastageItem Date", @type = "date" })
                            <label for="floatingInput">WastageItem Date</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mb-3 mt-3">
                            @Html.TextBoxFor(model => model.Description, "", new { @class = "form-control", @placeholder = "Description" })
                            <label for="floatingInput">Description</label>
                        </div>
                    </div>


                    <h2 class="text-secondary pt-3"><b>Items</b></h2>
                    <div class="row">
                        <div class="container">
                            <div class="table-responsive tab-content">
                                <table id="itemsTable" class="table table-hover">
                                    @*<table id="itemsTable" class="table items-table-without-price table-hover">*@
                                    <tbody id="itemsTableBody">

                                        @foreach (var item in Model.WastageItemDetails)
                                        {
                                            <tr class="item-row">
                                                <td class="tbl-min-width-6 col-3 mb-3 mt-3">
                                                    <div class="form-floating">
                                                        <select class="form-control">
                                                            <option value="0">Select Item</option>
                                                            @foreach (var i in ViewBag.Items)
                                                            {

                                                                if (i.ItemId == item.ItemId)
                                                                {
                                                                    <option selected value="@i.ItemId">@i.Item.ItemName</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@i.ItemId">@i.Item.ItemName</option>
                                                                }
                                                            }
                                                        </select>
                                                        <label>Item</label>
                                                    </div>
                                                </td>
                                                <td class="tbl-min-width-6 col-3 mb-3 mt-3">
                                                    <div class="form-floating">
                                                        @Html.TextBoxFor(m => item.Description, new { @class = "form-control", @placeholder = "Description", })
                                                        <label>Description</label>
                                                    </div>
                                                </td>
                                                <td class="tbl-min-width-4 col-2 mb-3 mt-3">
                                                    <div class="form-floating">
                                                        @Html.TextBoxFor(m => item.ItemQuantity, new { @class = "form-control quantity", @placeholder = "Quantity", @name = "quantity[]" })
                                                        <label>Quantity</label>
                                                    </div>
                                                </td>
                                                <td class="tbl-min-width-1">
                                                    <button class="btn btn-danger btn-sm rounded-2 m-2 removeRowBtn"
                                                            type="button" data-toggle="tooltip" data-placement="top"
                                                            title="Remove">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <!-- Add Row Button -->
                            <button class="btn btn-light-success btn-sm rounded-0 ms-3 mb-3" id="addRowBtn"
                                    type="button">
                                <i class="fa fa-plus-square d-flex p-1">
                                    <span class="ps-2 m-0">Add More</span>
                                </i>
                            </button>
                        </div>
                        <div class="row mt-5">
                            <div class=" row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-sm-9">
                                            <button id="CreateWastageItem" type="button"
                                                    class="btn btn-secondary mr-2 ps-4 pe-4">
                                                Update
                                            </button>
                                            <a class="btn btn-light ms-1 ps-4 pe-4"  href="@Url.Action("WastageItemList","Kitchen")">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



<script>
    $(document).ready(function () {
            // Add row when clicking "Add More"
            $('#addRowBtn').click(function () {
                let newRow = $('#itemsTableBody .item-row').last().clone();
                newRow.find("input").val(""); // Clear input values
                newRow.find("select").val("0"); // Clear dropdowns

                // Increment row index for the new row to avoid conflicts
                let index = $('#itemsTableBody .item-row').length;

                // Update name attributes to match the model binding format
                newRow.find('select[name^="WastageItemDetails"]').attr("name", `WastageItemDetails[${index}].ItemId`);
                newRow.find('input[name^="WastageItemDetails"][name*=".Description"]').attr("name", `WastageItemDetails[${index}].Description`);
                newRow.find('input[name^="WastageItemDetails"][name*=".ItemQuantity"]').attr("name", `WastageItemDetails[${index}].ItemQuantity`);

                $('#itemsTableBody').append(newRow); // Append the new row to the table body
            });

            // Remove row when clicking the remove button
        $(document).on('click', '.removeRowBtn', function () {
                if ($('#itemsTableBody .item-row').length > 1) {
                    $(this).closest('.item-row').remove();
                    $(this).tooltip('dispose');
                } else {
                    alert("At least one item is required.");
                }
            });
        });

    $('#CreateWastageItem').on('click', function () {

        debugger;

        // Initialize an object to hold all data
         let wastageItem = {
             WastageItemDetails: [],
             wastageItemDetailId: $('#WastageItemDetailId').val(),
            wastageItemDate: $('#WastageItemDate').val(),
             description: $('#Description').val(),
            WastageItemId: $('#WastageItemId').val(),
             ReferenceNo: $('#ReferenceNo').val()
        };

        // Find all rows in the tbody
        $('#itemsTableBody .item-row').each(function() {
            // Initialize an object to hold the values for each row
            let rowData = {};
            rowData.WastageItemDetailId = $(this).find('input[name="item.WastageItemDetailId"]').val();
            rowData.WastageItemId = $('#WastageItemId').val(),
            // Get the selected item from the dropdown
            rowData.ItemId = $(this).find('select').val();

            // Get the description
            rowData.Description = $(this).find('input[name="item.Description"]').val();

            // Get the quantity
            rowData.Quantity = $(this).find('input[name="item.ItemQuantity"]').val();

            // Add the row data to the purchaseData.items array
            wastageItem.WastageItemDetails.push(rowData);
        });

        // Now you can use purchaseData for your purposes
        console.log(wastageItem);

        // Example: you might want to send this data to a server
         $.ajax({
             url: '@Url.Action("EditWastageItem", "Kitchen")',
             method: 'POST',
             data: JSON.stringify(wastageItem),
             contentType: 'application/json',
             success: function (response) {
                if (response.status == "success") {
                    window.location.href = '@Url.Action("WastageItemList","Kitchen")'
                }
                else if (response.status == "error")
                {
                    window.location.href = '@Url.Action("Index","Error")'
                }
                // Handle the response
            },
            error: function (xhr, status, error) {
                // Handle unexpected errors
                alert("An unexpected error occurred: " + error);
            }
         });
     });
</script>

