@model IEnumerable<Ressential.Models.BranchItem>

@{ ViewBag.Title = "ItemList";
    Layout = "~/Views/Shared/_KitchenLayout.cshtml"; }

<div class="card">
    <div class="card-body">
        @if (TempData["ErrorMessage"] != null)
        {
<div class="alert alert-danger">
    @TempData["ErrorMessage"]
</div>}
        @if (TempData["SuccessMessage"] != null)
        {
<div class="alert alert-success">
    @TempData["SuccessMessage"]
</div>}
        <div class="row">
            <div class="col-md-3">
                <div class="input-group input-group-sm mb-3">
                    <select class="form-select" id="actionDropdown" aria-label="Select action">
                            <option selected>Choose Action</option>
                            <option value="1">Create Requisition</option>
                            <option value="2">Create Consume</option>
                            <option value="3">Create Wastage</option>
                            <option value="delete">Delete</option>

                        </select>
                        <button class="btn btn-secondary" type="button" onclick="applyAction()">Apply</button>
                </div>
            </div>
            <div class="col-md-3 ms-auto">
                <form id="searchForm" action="@Url.Action("ItemList", "Kitchen")" method="get">
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" name="search" class="form-control" id="floatingInput" placeholder="Search" value="@Request.QueryString["search"]">
                        <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <form id="actionForm" action="@Url.Action("DeleteSelectedItems", "Kitchen")" method="post">
                <table class="table table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" class="fit-content">
                                <input class="form-check-input" type="checkbox" value="" id="selectAll" onclick="toggleAll(this)">
                            </th>
                            <th scope="col" class="no-wrap">Item Name</th>
                            <th scope="col">SKU</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Avg. Cost</th>
                            <th scope="col" class="fit-content">Reorder Level</th>
                            <th scope="col" class="no-wrap">Stock Level</th>
                            <th scope="col" class="no-wrap">Status</th>
                            <th scope="col" class="fit-content">Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var branchItems in Model)
                        {
                        <tr>
                            <td><input type="checkbox" class="form-check-input item-checkbox" name="selectedItems" value="@branchItems.BranchItemId" aria-label="Select Item"></td>

                            @*<td><input type="checkbox" class="form-check-input item-checkbox" name="selectedItems" value="@branchItems.ItemId-@branchItems.BranchId " aria-label="Select Item"></td>*@
                            <td>@branchItems.Item.ItemName</td>
                            <td>@branchItems.Item.Sku</td>
                            <td>@branchItems.Item.UnitOfMeasure.Name</td>
                            <td>@branchItems.Quantity</td>
                            <td>@branchItems.CostPerUnit</td>
                            <td>@branchItems.MinimumStockLevel</td>
                            <td class="no-wrap">
                                @if (branchItems.Quantity == 0)
                                {
                                    <span style="background-color: red;color:white; border-radius:6px; padding:5px 10px 5px 10px; font-size: 0.8rem !important" class="label">
                                        Out of Stock
                                    </span>
                                }
                                else if (branchItems.Quantity < branchItems.MinimumStockLevel)
                                {
                                    <span style="background-color: orange;color:white; border-radius:6px; padding:5px 10px 5px 10px; font-size: 0.8rem !important" class="label">
                                        Low Stock
                                    </span>
                                }
                                else
                                {
                                    <span style="background-color: forestgreen;color:white; border-radius:6px; padding:5px 10px 5px 10px; font-size: 0.8rem !important" class="label">
                                        In Stock
                                    </span>
                                }
                            </td>
                            <td class="no-wrap">
                                @if (branchItems.IsActive)
                                {
                                    <span style="background-color: forestgreen;color:white; border-radius:6px; padding:5px 10px 5px 10px; font-size: 0.8rem !important" class="label">
                                        Active
                                    </span> }
                                else
                                {
                                    <span style="background-color: lightslategrey;color:white; border-radius:6px; padding:5px 10px 5px 10px; font-size: 0.8rem !important" class="label">
                                        Inactive
                                    </span>}
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="background: none; border: none;">
                                        <i class="bi bi-three-dots-vertical" style="font-size: 1.5rem;"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><button class="dropdown-item" type="button" onclick="submitEditForm(@branchItems.BranchItemId)"><i class="bi bi-pencil" style="font-size: 1.25rem;"></i> Edit</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="submitDeleteForm(@branchItems.BranchItemId)"><i class="bi bi-trash" style="font-size: 1.25rem;"></i> Delete</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="submitRequisitionForm(@branchItems.ItemId)"><i class="bi bi-file-earmark-plus" style="font-size: 1.25rem;"></i>Create Requisition</button></li>

                                        <li><button class="dropdown-item" type="button" onclick="submitConsumeForm(@branchItems.ItemId)"><i class="bi bi-basket" style="font-size: 1.25rem;"></i>Create Consume</button></li>

                                        <li><button class="dropdown-item" type="button" onclick="submitWastageForm(@branchItems.ItemId)"><i class="bi bi-recycle" style="font-size: 1.25rem;"></i>Create Wastage</button></li>

                                    </ul>
                                </div>
                            </td>
                        </tr>
}
                    </tbody>

                </table>
            </form>
            <!-- Hidden Form for Edit/Delete Actions -->
            <form id="editDeleteForm" method="post" style="display: none;">
                <input type="hidden" name="BranchItemId" id="formBranchItemId" />
            </form>
        </div>
    </div>
</div>


<script>
    // Function to toggle all checkboxes
    function toggleAll(source) {
        const checkboxes = document.querySelectorAll('.form-check-input');
        checkboxes.forEach(checkbox => checkbox.checked = source.checked);
    }

    function applyAction() {
        const action = document.getElementById("actionDropdown").value;
        const checkboxes = document.querySelectorAll('.item-checkbox:checked');

        if (action === "delete") {
            if (checkboxes.length === 0) {
                alert("No records selected to delete.");
                return;
            }
            if (confirm("Are you sure you want to delete the selected records?")) {
                document.getElementById("actionForm").submit();
            }
        }
    }

    function submitEditForm(BranchItemId) {
        const form = document.getElementById("editDeleteForm");
        form.action = "@Url.Action("EditItem", "Kitchen")";
        document.getElementById("formBranchItemId").value = BranchItemId;
        form.method = "get";
        form.submit();
    }

    function submitDeleteForm(BranchItemId) {
        if (confirm('Are you sure you want to delete this record?')) {
            const form = document.getElementById("editDeleteForm");
            form.action = "@Url.Action("DeleteItem", "Kitchen")";
            document.getElementById("formBranchItemId").value = BranchItemId;
            form.method = "post";
            form.submit();
        }
    }
</script>



