@using Ressential.Utilities

@{ ViewBag.Title = "Warehouse";
    Layout = "~/Views/Shared/_MasterLayout.cshtml"; }
<!-- [Body] Start -->
<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ Sidebar Menu ] start -->
    <nav class="pc-sidebar">
        <div class="navbar-wrapper">
            <div class="m-header mt-3" style="height:120px">
                <a href="../dashboard/index.html" class="b-brand text-primary">
                    <!-- ========   Change your logo from here   ============ -->
                    <img src="~/Content/assets/images/logo/ressential-logo.png" height="120" />
                </a>
            </div>
            <div class="navbar-content">
                <ul class="pc-navbar">
                    <li class="pc-item pc-caption" style="padding-top:0px !important">
                        <h2 class="text-secondary border-bottom border-3 "><b>Warehouse</b></h2>
                        <i class="ti ti-dashboard"></i>
                    </li>
                    @if (Html.HasPermission("Item Category List") || Html.HasPermission("Item Category Create"))
                    {
                        <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link">
                                <span class="pc-micon"><i class="bi bi-collection-fill"></i></span><span class="pc-mtext">
                                    Item Category
                                </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                            </a>
                            <ul class="pc-submenu">
                                @if (Html.HasPermission("Item Category List"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/ItemCategoryList">All</a></li>
                                }
                                @if (Html.HasPermission("Item Category Create"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/CreateItemCategory">Create</a></li>
                                }

                            </ul>
                        </li>
                    }
                    @if (Html.HasPermission("Item List") || Html.HasPermission("Item Create"))
                    {
                        <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link">
                                <span class="pc-micon"><i class="bi bi-box-seam-fill"></i></span><span class="pc-mtext">
                                    Item
                                </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                            </a>
                            <ul class="pc-submenu">
                                @if (Html.HasPermission("Item List"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/ItemList">All</a></li>
                                }
                                @if (Html.HasPermission("Item Create"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/CreateItem">Create</a></li>
                                }
                            </ul>
                        </li>
                    }

                    @if (Html.HasPermission("Vendor List") || Html.HasPermission("Vendor Create"))
                    {
                        <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link">
                                <span class="pc-micon"><i class="bi bi-people-fill"></i></span><span class="pc-mtext">
                                    Vendor
                                </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                            </a>
                            <ul class="pc-submenu">
                                @if (Html.HasPermission("Vendor List"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/VendorList">All</a></li>
                                }
                                @if (Html.HasPermission("Vendor Create"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/CreateVendor">Create</a></li>
                                }
                            </ul>
                        </li>
                    }

                    @if (Html.HasPermission("Branch List") || Html.HasPermission("Branch Create"))
                    {
                        <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link">
                                <span class="pc-micon"><i class="fas fa-building"></i></span><span class="pc-mtext">
                                    Branch
                                </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                            </a>
                            <ul class="pc-submenu">
                                @if (Html.HasPermission("Branch List"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/BranchList">All</a></li>
                                }
                                @if (Html.HasPermission("Branch Create"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/CreateBranch">Create</a></li>
                                }
                            </ul>
                        </li>
                    }


                    @if (Html.HasPermission("Purchase List") || Html.HasPermission("Purchase Create") || Html.HasPermission("Purchase Return List") || Html.HasPermission("Purchase Return Create"))
                    {
                        <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link">
                                <span class="pc-micon"><i class="fas fa-cart-arrow-down"></i></span><span class="pc-mtext">
                                    Purchase
                                </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                            </a>
                            <ul class="pc-submenu">
                                @if (Html.HasPermission("Purchase List"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/PurchaseList">All</a></li>
                                }
                                @if (Html.HasPermission("Purchase Create"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/CreatePurchase">Create</a></li>
                                }
                                @if (Html.HasPermission("Purchase Return List") || Html.HasPermission("Purchase Return Create"))
                                {
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link">Purchase Return<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                                        <ul class="pc-submenu">
                                            @if (Html.HasPermission("Purchase Return List"))
                                            {
                                                <li class="pc-item"><a class="pc-link" href="/Warehouse/PurchaseReturnList">All</a></li>
                                            }
                                            @if (Html.HasPermission("Purchase Return Create"))
                                            {
                                                <li class="pc-item"><a class="pc-link" href="/Warehouse/CreatePurchaseReturn">Create</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    }

                    @if (Html.HasPermission("Requisition List"))
                    {
                        <li class="pc-item pc-hasmenu">
                            <a href="/Warehouse/RequisitionList" class="pc-link">
                                <span class="pc-micon"><i class="fas fa-cogs"></i></span>
                                <span class="pc-mtext">Requisition</span>
                            </a>
                        </li>
                    }

                    @if (Html.HasPermission("Issue Create") || Html.HasPermission("Issue List"))
                    {
                        <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link">
                                <span class="pc-micon"><i class="fas fa-boxes"></i></span><span class="pc-mtext">
                                    Issue
                                </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                            </a>
                            <ul class="pc-submenu">
                                @if (Html.HasPermission("Issue List"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/IssueList">All</a></li>
                                }
                                @if (Html.HasPermission("Issue Create"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/CreateRequisitionIssue">Create</a></li>
                                }
                            </ul>
                        </li>
                    }

                    @if (Html.HasPermission("Stock Return List"))
                    {
                        <li class="pc-item pc-hasmenu">
                            <a href="/Warehouse/ReturnStockList" class="pc-link">
                                <span class="pc-micon"><i class="fas fa-reply-all"></i></span>
                                <span class="pc-mtext">Stock Return</span>
                            </a>
                        </li>
                    }


                    @if (Html.HasPermission("Bank And Cash List") || Html.HasPermission("Bank And Cash Create"))
                    {
                        <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link">
                                <span class="pc-micon"><i class="bi bi-bank2"></i></span><span class="pc-mtext">
                                    Bank & Cash
                                </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                            </a>
                            <ul class="pc-submenu">
                                @if (Html.HasPermission("Bank And Cash List"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/BankAndCashList">All</a></li>
                                }
                                @if (Html.HasPermission("Bank And Cash Create"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/CreateBankAndCash">Create</a></li>
                                }
                            </ul>
                        </li>
                    }

                    @if (Html.HasPermission("Payment Voucher List") || Html.HasPermission("Payment Voucher Create") || Html.HasPermission("Receipt Voucher List") || Html.HasPermission("Receipt Voucher Create"))
                    {
                        <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link">
                                <span class="pc-micon"><i class="fas fa-receipt"></i></span><span class="pc-mtext">
                                    Voucher
                                </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                            </a>
                            <ul class="pc-submenu">
                                @if (Html.HasPermission("Payment Voucher List") || Html.HasPermission("Payment Voucher Create"))
                                {
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link"> Payment Voucher <span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                                        <ul class="pc-submenu">
                                            @if (Html.HasPermission("Payment Voucher List"))
                                            {
                                                <li class="pc-item"><a class="pc-link" href="/Warehouse/PaymentVoucherList">All</a></li>
                                            }
                                            @if (Html.HasPermission("Payment Voucher Create"))
                                            {
                                                <li class="pc-item"><a class="pc-link" href="/Warehouse/CreatePaymentVoucher">Create</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                                @if (Html.HasPermission("Receipt Voucher List") || Html.HasPermission("Receipt Voucher Create"))
                                {
                                    <li class="pc-item pc-hasmenu">
                                        <a href="#!" class="pc-link"> Receipt Voucher <span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                                        <ul class="pc-submenu">
                                            @if (Html.HasPermission("Receipt Voucher List"))
                                            {
                                                <li class="pc-item"><a class="pc-link" href="/Warehouse/ReceiptVoucherList">All</a></li>
                                            }
                                            @if (Html.HasPermission("Receipt Voucher Create"))
                                            {
                                                <li class="pc-item"><a class="pc-link" href="/Warehouse/CreateReceiptVoucher">Create</a></li>
                                            }
                                        </ul>
                                    </li>
                                }

                            </ul>
                        </li>
                    }

                    @if (Html.HasPermission("User List") || Html.HasPermission("User Create"))
                    {
                        <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link">
                                <span class="pc-micon"><i class="fas fa-user"></i></span><span class="pc-mtext">
                                    User
                                </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                            </a>
                            <ul class="pc-submenu">
                                @if (Html.HasPermission("User List"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/UserList">All</a></li>
                                }
                                @if (Html.HasPermission("User Create"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/CreateUser">Create</a></li>
                                }
                            </ul>
                        </li>
                    }

                    @if (Html.HasPermission("Role List") || Html.HasPermission("Role Create"))
                    {
                        <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link">
                                <span class="pc-micon"><i class="fas fa-user"></i></span><span class="pc-mtext">
                                    Roles
                                </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                            </a>
                            <ul class="pc-submenu">
                                @if (Html.HasPermission("Role List"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/RoleList">All</a></li>
                                }
                                @if (Html.HasPermission("Role Create"))
                                {
                                    <li class="pc-item"><a class="pc-link" href="/Warehouse/CreateRole">Create</a></li>
                                }
                            </ul>
                        </li>
                    }

                    <li class="pc-item pc-hasmenu">
                        <a href="/Warehouse/" class="pc-link">
                            <span class="pc-micon"><i class="fas fa-file-alt"></i></span><span class="pc-mtext">
                                Report
                            </span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                    </li>
                    <div style="height:100px">

                    </div>

                </ul>
            </div>
        </div>
    </nav>
    <!-- [ Sidebar Menu ] end --> <!-- [ Header Topbar ] start -->
    <header class="pc-header">
        <div class="header-wrapper">
            <!-- [Mobile Media Block] start -->
            <div class="me-auto pc-mob-drp">
                <ul class="list-unstyled">
                    <li class="pc-h-item header-mobile-collapse">
                        <a href="#" class="pc-head-link head-link-secondary ms-0" id="sidebar-hide">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>
                    <li class="pc-h-item pc-sidebar-popup">
                        <a href="#" class="pc-head-link head-link-secondary ms-0" id="mobile-collapse">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>

                    <!--[Removed Search Bar]-->
                    @*<li class="dropdown pc-h-item d-inline-flex d-md-none">
                            <a class="pc-head-link head-link-secondary dropdown-toggle arrow-none m-0" data-bs-toggle="dropdown" href="#"
                               role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="ti ti-search"></i>
                            </a>
                            <div class="dropdown-menu pc-h-dropdown drp-search">
                                <form class="px-3">
                                    <div class="form-group mb-0 d-flex align-items-center">
                                        <i data-feather="search"></i>
                                        <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . .">
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="pc-h-item d-none d-md-inline-flex">
                            <form class="header-search">
                                <i data-feather="search" class="icon-search"></i>
                                <input type="search" class="form-control" placeholder="Search here. . .">
                                <button class="btn btn-light-secondary btn-search"><i class="ti ti-adjustments-horizontal"></i></button>
                            </form>
                        </li>*@
                </ul>
            </div>
            <!-- [Mobile Media Block end] -->
            <div class="ms-auto">
                <ul class="list-unstyled">
                    <li class="dropdown pc-h-item">
                        <select class="form-select p-r-35" id="managementSelect">
                            @if (Html.HasKitchenPermission())
                            {
                                <option value="@Url.Action("DefaultBranch", "Warehouse")">Kitchen Management</option>
                            }
                            @if (Html.HasWarehousePermission())
                            {
                                <option selected value="@Url.Action("Index", "Warehouse")">Warehouse Management</option>
                            }
                        </select>
                    </li>
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link head-link-secondary dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#"
                           role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="ti ti-bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
                            <div class="dropdown-header">
                                <a href="#!" class="link-primary float-end text-decoration-underline">Mark as all read</a>
                                <h5>All Notification <span class="badge bg-warning rounded-pill ms-1">01</span></h5>
                            </div>
                            <div class="dropdown-header px-0 text-wrap header-notification-scroll position-relative"
                                 style="max-height: calc(100vh - 215px)">
                                <div class="list-group list-group-flush w-100">
                                    <div class="list-group-item list-group-item-action">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <div class="user-avtar bg-light-success"><i class="ti ti-building-store"></i></div>
                                            </div>
                                            <div class="flex-grow-1 ms-1">
                                                <span class="float-end text-muted">3 min ago</span>
                                                <h5>Received Requisition</h5>
                                                <p class="text-body fs-6">Requisition received from Korangi Branch</p>
                                                <div class="badge rounded-pill bg-light-danger">Unread</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item list-group-item-action">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <div class="user-avtar bg-light-success"><i class="ti ti-building-store"></i></div>
                                            </div>
                                            <div class="flex-grow-1 ms-1">
                                                <span class="float-end text-muted">3 min ago</span>
                                                <h5>Stock Return</h5>
                                                <p class="text-body fs-6">Stock returned from Shahrah-e-Faisal branch</p>
                                                <div class="badge rounded-pill bg-light-danger">Unread</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="text-center py-2">
                                <a href="#!" class="link-primary">Mark as all read</a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown pc-h-item header-user-profile">
                        <a class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#"
                           role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="@(!string.IsNullOrEmpty(Helper.GetUserInfo("profileImage"))? Url.Content(Ressential.Models.TextConstraints.ProfileImagesPath+Helper.GetUserInfo("profileImage")) : Url.Content(Ressential.Models.TextConstraints.EmptyProfilePath))"
                                 alt="user-image" class="user-avtar">
                            <span>
                                <i class="ti ti-settings"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
                            <div class="dropdown-header">
                                <h4>@Helper.GetUserInfo("userName")</h4>
                                <p class="text-muted">Super Admin</p>
                                <hr>
                                <div class="profile-notification-scroll position-relative" style="max-height: calc(100vh - 280px)">
                                    <a href="@Url.Action("AccountSetting","Warehouse")" class="dropdown-item">
                                        <i class="ti ti-settings"></i>
                                        <span>Account Settings</span>
                                    </a>
                                    <a href="@Url.Action("Logout","Account")" class="dropdown-item">
                                        <i class="ti ti-logout"></i>
                                        <span>Logout</span>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->

    <div class="pc-container">
        <div class="pc-content">
            @RenderBody()
        </div>
    </div>
    <!-- [ Main Content ] end -->
    @*<footer class="pc-footer">
            <div class="footer-wrapper container-fluid">
                <div class="row">
                    <div class="col-sm-6 my-1">
                        <p class="m-0">
                            Berry &#9829; crafted by Team <a href="https://themeforest.net/user/codedthemes"
                                                             target="_blank">Codedthemes</a>
                        </p>
                    </div>
                    <div class="col-sm-6 ms-auto my-1">
                        <ul class="list-inline footer-link mb-0 justify-content-sm-end d-flex">
                            <li class="list-inline-item"><a href="../index.html">Home</a></li>
                            <li class="list-inline-item">
                                <a href="https://codedthemes.gitbook.io/berry-bootstrap/"
                                   target="_blank">Documentation</a>
                            </li>
                            <li class="list-inline-item"><a href="https://codedthemes.support-hub.io/" target="_blank">Support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>*@
    <!-- Required Js -->
    <script src="~/Content/assets/js/plugins/popper.min.js"></script>
    <script src="~/Content/assets/js/plugins/simplebar.min.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/fonts/custom-font.js"></script>
    <script src="~/Content/assets/js/pcoded.js"></script>
    <script src="~/Content/assets/js/plugins/feather.min.js"></script>
    <script src="~/Content/assets/js/pages/item-management.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)




    <script>layout_change('light');</script>
    <script>
        // Attach a 'change' event listener to the select element
        document.getElementById('managementSelect').addEventListener('change', function () {
            var selectedUrl = this.value;

            // Redirect to the selected URL
            if (selectedUrl) {
                window.location.href = selectedUrl;
            }
        });
    </script>



    <script>font_change("Roboto");</script>


    <script>change_box_container('false');</script>


    <script>layout_caption_change('true');</script>




    <script>layout_rtl_change('false');</script>


    <script>preset_change("preset-5");</script>


    <!-- [Page Specific JS] start -->
    <!-- Apex Chart -->
    <script src="~/Content/assets/js/plugins/apexcharts.min.js"></script>
    <script src="~/Content/assets/js/pages/dashboard-default.js"></script>
    <!-- [Page Specific JS] end -->
</body>
<!-- [Body] end -->
</html>
