@model Ressential.Models.Purchase

@{
    ViewBag.Title = "CreatePurchase";
    Layout = "~/Views/Shared/_WarehouseLayout.cshtml";
}

@using (Html.BeginForm("EditPurchase", "Warehouse", FormMethod.Post))
{
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-secondary"><b>Update Purchase</b></h2>
                    @Html.HiddenFor(model => model.PurchaseId)
                    @Html.HiddenFor(model => model.PurchaseNo)
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mt-3">
                                @Html.TextBoxFor(model => model.PurchaseDate, Model.PurchaseDate.ToString("yyyy-MM-dd"), new { @class = "form-control", @placeholder = "Purchase Date", @type = "date" })
                                <label for="floatingInput">Purchase Date</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mt-3">
                                @Html.TextBoxFor(model => model.ReferenceNo, "", new { @class = "form-control", @placeholder = "Reference No" })

                                <label for="floatingInput">Reference No</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mt-3">
                                @Html.DropDownListFor(model => model.VendorId, new SelectList(ViewBag.Vendors, "VendorId", "Name"), "Select Vendor", new { @class = "form-control" })
                                <label for="floatingInput">Vendor</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mt-3">
                                @Html.TextBoxFor(model => model.Memo, "", new { @class = "form-control", @placeholder = "Memo" })
                                <label for="floatingInput">Memo</label>
                            </div>
                        </div>

                    </div>

                    <h2 class="text-secondary pt-3"><b>Items</b></h2>
                    <div class="row">
                        <div class="container">
                            <div class="table-responsive tab-content">
                                <table id="itemsTable" class="table table-hover">
                                    @*<table id="itemsTable" class="table items-table-price table-hover">*@
                                    <tbody id="itemsTableBody">

                                        @foreach (var item in Model.PurchaseDetails)
                                        {
                                            <tr class="item-row">
                                                <td class="tbl-min-width-6 col-3 mb-3 mt-3">
                                                    <div class="form-floating">
                                                        <select class="form-control">
                                                            <option value="0">Select Item</option>
                                                            @foreach (var i in ViewBag.Items)
                                                            {

                                                                if (i.ItemId == item.ItemId)
                                                                {
                                                                    <option selected value="@i.ItemId">@i.ItemName</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@i.ItemId">@i.ItemName</option>
                                                                }
                                                            }
                                                        </select>
                                                        @*@Html.DropDownListFor(m => item.ItemId, new SelectList(ViewBag.Items, "ItemId", "ItemName"), "Select Item", new { @class = "form-control", @id = $"{item.ItemId},ItemId" })*@
                                                        @*@Html.DropDownListFor(m => item.ItemId, (SelectList)ViewBag.Items, "Select Item", new { @class = "form-control" })*@
                                                        <label>Item</label>
                                                    </div>
                                                </td>
                                                <td class="tbl-min-width-6 col-3 mb-3 mt-3">
                                                    <div class="form-floating">
                                                        @Html.TextBoxFor(m => item.Description, new { @class = "form-control" })
                                                        <label>Description</label>
                                                    </div>
                                                </td>
                                                <td class="tbl-min-width-4 col-2 mb-3 mt-3">
                                                    <div class="form-floating">
                                                        @Html.TextBoxFor(m => item.Quantity, new { @class = "form-control quantity", @placeholder = "Quantity", @name = "quantity[]" })
                                                        <label>Quantity</label>
                                                    </div>
                                                </td>
                                                <td class="tbl-min-width-4 col-2 mb-3 mt-3">
                                                    <div class="form-floating">
                                                        @Html.TextBoxFor(m => item.UnitPrice, new { @class = "form-control unitPrice", @placeholder = "Unit Price", @name = "unitPrice[]" })
                                                        <label>Unit Price</label>
                                                    </div>
                                                </td>
                                                <td class="tbl-min-width-5 col-2 mb-3 mt-3">
                                                    <div class="form-floating">
                                                        <input type="number" class="form-control total"
                                                               placeholder="Total" name="total[]">
                                                        <label>Total</label>
                                                    </div>
                                                </td>
                                                <td class="tbl-min-width-1">
                                                    <button class="btn btn-danger btn-sm rounded-2 m-2 removeRowBtn"
                                                            type="button" data-toggle="tooltip" data-placement="top"
                                                            title="Remove">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }

                                        @*@for (int i = 0; i < Model.PurchaseDetails.Count; i++)
                            {
                                <tr class="item-row">
                                    <td class="tbl-min-width-6 col-3 mb-3 mt-3">
                                        <div class="form-floating">
                                            @Html.DropDownListFor(m => m.PurchaseDetails.ElementAt(i).ItemId, (SelectList)ViewBag.Items[i], "Select Item", new { @class = "form-control" })
                                            <label>Item</label>
                                        </div>
                                    </td>
                                    <td class="tbl-min-width-6 col-3 mb-3 mt-3">
                                        <div class="form-floating">
                                            @Html.TextBoxFor(m => m.PurchaseDetails.ElementAt(i).Description, new { @class = "form-control" })
                                            <label>Description</label>
                                        </div>
                                    </td>
                                    <td class="tbl-min-width-4 col-2 mb-3 mt-3">
                                        <div class="form-floating">
                                            @Html.TextBoxFor(m => m.PurchaseDetails.ElementAt(i).Quantity, new { @class = "form-control quantity", @placeholder = "Quantity", @name = "quantity[]" })
                                            <label>Quantity</label>
                                        </div>
                                    </td>
                                    <td class="tbl-min-width-4 col-2 mb-3 mt-3">
                                        <div class="form-floating">
                                            @Html.TextBoxFor(m => m.PurchaseDetails.ElementAt(i).UnitPrice, new { @class = "form-control unitPrice", @placeholder = "Unit Price", @name = "unitPrice[]" })
                                            <label>Unit Price</label>
                                        </div>
                                    </td>
                                    <td class="tbl-min-width-5 col-2 mb-3 mt-3">
                                        <div class="form-floating">
                                            <input type="number" class="form-control total"
                                                   placeholder="Total" name="total[]">
                                            <label>Total</label>
                                        </div>
                                    </td>
                                    <td class="tbl-min-width-1">
                                        <button class="btn btn-danger btn-sm rounded-2 m-2 removeRowBtn"
                                                type="button" data-toggle="tooltip" data-placement="top"
                                                title="Remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                            }*@

                                    </tbody>
                                </table>
                            </div>

                            <!-- Add Row Button -->
                            <button class="btn btn-light-success btn-sm rounded-0 ms-3 mb-3" id="addRowBtn"
                                    type="button">
                                <i class="fa fa-plus-square d-flex p-1">
                                    <span class="ps-2 m-0">Add More</span>
                                </i>
                            </button>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3 ms-auto">
                                <label for="totalAmount" class="form-label"><b>Total Amount:</b></label>
                                <div class="input-group">
                                    <span class="input-group-text">Rs</span>
                                    <input type="number" class="form-control" id="totalAmount" placeholder="Total Amount" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class=" row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-sm-9">
                                            <button id="CreatePurchase" type="button"
                                                    class="btn btn-secondary mr-2 ps-4 pe-4 btn-save">
                                                Update
                                            </button>
                                            <button class="btn btn-light ms-1 ps-4 pe-4">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    $(document).ready(function () {
            // Add row when clicking "Add More"
            $('#addRowBtn').click(function () {
                let newRow = $('#itemsTableBody .item-row').last().clone();
                newRow.find("input").val(""); // Clear input values
                newRow.find("select").val("0"); // Clear dropdowns

                // Increment row index for the new row to avoid conflicts
                let index = $('#itemsTableBody .item-row').length;

                // Update name attributes to match the model binding format
                newRow.find('select[name^="PurchaseDetails"]').attr("name", `PurchaseDetails[${index}].ItemId`);
                newRow.find('input[name^="PurchaseDetails"][name*=".Description"]').attr("name", `PurchaseDetails[${index}].Description`);
                newRow.find('input[name^="PurchaseDetails"][name*=".Quantity"]').attr("name", `PurchaseDetails[${index}].Quantity`);
                newRow.find('input[name^="PurchaseDetails"][name*=".UnitPrice"]').attr("name", `PurchaseDetails[${index}].UnitPrice`);

                $('#itemsTableBody').append(newRow); // Append the new row to the table body
            });

            // Remove row when clicking the remove button
            $(document).on('click', '.removeRowBtn', function () {
                if ($('#itemsTableBody .item-row').length > 1) {
                    $(this).closest('.item-row').remove();
                } else {
                    alert("At least one item is required.");
                }
            });
        });

    $('#CreatePurchase').on('click', function () {

        debugger;

        // Initialize an object to hold all data
         let purchase = {
            PurchaseDetails: [],
            purchaseDate: $('#PurchaseDate').val(),
            referenceNo: $('#ReferenceNo').val(),
            vendorId: $('#VendorId').val(),
             memo: $('#Memo').val(),
             PurchaseId: $('#PurchaseId').val(),
             PurchaseNo: $('#PurchaseNo').val()
        };

        // Find all rows in the tbody
        $('#itemsTableBody .item-row').each(function() {
            // Initialize an object to hold the values for each row
            let rowData = {};
            rowData.PurchaseId = $('#PurchaseId').val(),
            // Get the selected item from the dropdown
            rowData.ItemId = $(this).find('select').val();

            // Get the description
            rowData.Description = $(this).find('input[name="item.Description"]').val();

            // Get the quantity
            rowData.Quantity = $(this).find('input[name="item.Quantity"]').val();

            // Get the unit price
            rowData.UnitPrice = $(this).find('input[name="item.UnitPrice"]').val();

            // Get the total
            rowData.total = $(this).find('input[name="total[]"]').val();

            // Add the row data to the purchaseData.items array
            purchase.PurchaseDetails.push(rowData);
        });

        // Now you can use purchaseData for your purposes
         console.log(purchase);

        // Example: you might want to send this data to a server
         $.ajax({
             url: '@Url.Action("EditPurchase", "WareHouse")',
             method: 'POST',
             data: JSON.stringify(purchase),
             contentType: 'application/json',
             success: function (response) {
                 if (response == "0") {
                     window.location.href = '@Url.Action("PurchaseList","Warehouse")'
                 }
                 else if (response == "1")
                 {
                     window.location.href = '@Url.Action("Index","Error")'
                 }
                 // Handle the response
             }
         });
     });
</script>
